@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800&family=Roboto:ital,wght@0,400;1,100&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito',sans-serif;
    font-weight: 300;
    background-color: #0e1428;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #d95d39;
    color: white;
    margin-top: 0;
    padding: 16px;
    font-family: 'Nunito',sans-serif;
    font-weight: 800;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 24px;
}

#playerchoice {
    display: flex;
    justify-content: space-evenly;
}

#playerchoice :hover {
    background-color: #d95d39;
}


#rock,#paper,#scissors {
    padding: 36px;
    font-size: 36px;
    background-color: #0e1428;
    border: 1;
    border-color: #f18805;
    border-radius: 10px;
    cursor: pointer;
}

.compcontainer {
    display: flex;
    justify-content: center;
}

#cselection,#winner,#output{
    border: 1px solid #f18805;
    padding: 16px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 10px;
    margin-top: 24px;
}

.compchoiceview,.roundop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    font-size: 24px;
}

.score{
    display: flex;
    justify-content: space-evenly;
}

.playerscoretab,.computerscoretab {
    font-size: 24px;
    border: 1px solid #f18805;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.playagain {
    display: flex;
    justify-content: center;
    padding: 48px;
}

.playagain :hover {
    background-color: #d95d39;
}

.playagain button {
    font-size: 24px;
    background-color: #0e1428;
    color: white;
    border: 1;
    border-color: #f18805;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: black;
    color: white;
    padding: 8px;
}